html {
  box-sizing: border-box;
}

* {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  /* font: inherit; */
  /* outline: red solid 1px; */
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg,
img {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-size: 18px;
}

:root {
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);

  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 7%);

  --fs-regular: 18px;

  --ff-base: "DM Sans", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
}

body {
  background-color: black;
  /* background-color: rgb(236, 236, 236); */

  display: grid;
  place-content: center;

  font-family: var(--ff-base);
  font-size: var(--fs-regular);
}

.bento-box {
  max-width: 100%;
  border-radius: 3%;
  line-height: 1;
  padding: 2rem;
}

.box__1 {
  color: var(--clr-white);
  background-color: var(--clr-purple-500);
  text-align: center;
}
.box__1 h1 {
  font-size: 3rem;
  font-weight: var(--fw-regular);
  margin-bottom: 1.5rem;
}

.box__1 span:first-of-type {
  color: var(--clr-yellow-500);
  font-size: 3rem;
}
.box__1 span:last-of-type {
  font-style: italic;
}

/*? look this up, starting with a % of original image width but max-width to restrict from going too big */

.box__1 img {
  object-fit: contain;
  width: 50%;
  max-width: 200px; /*! responsive img */
  height: auto;
  justify-self: center;
  margin-bottom: 1rem;
}

.box__2 {
  color: var(--clr-black);
  background-color: var(--clr-white);
  gap: 1rem;
  padding: 1rem;
}

.box__2 img {
  object-fit: contain;
  max-width: 70%;
  margin-bottom: 1.5rem;
}

.box__3 {
  color: var(--clr-black);
  background-color: var(--clr-yellow-500);
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.box__3 h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.box__3 img {
  object-fit: contain;
  max-width: 180px;
}

.box__4 {
  color: var(--clr-black);
  background-color: var(--clr-purple-100);
  padding: 1rem;
  justify-items: center;
}

.box__4 h3 {
  font-size: 4vw;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.box__4 p {
  text-align: center;
  margin-bottom: 1rem;
}

.box__4 img {
  object-fit: contain;
  max-width: 300px;
  margin-bottom: 1.5rem;
}

.box__5 {
  color: var(--clr-white);
  background-color: var(--clr-purple-500);
  padding: 1rem;
}

.box__5 h2 {
  font-weight: var(--fw-regular);
  width: 70%;
  max-width: 100%;
  margin-bottom: 1rem;
  justify-self: center;
  text-align: center;
}

.box__5 img {
  padding: 1rem;
  object-fit: contain;
  width: 50%;
  max-width: 250px;
  margin-bottom: 2rem;
  justify-self: center;
}

.box__6 {
  color: var(--clr-black);
  background-color: var(--clr-white);
  padding: 1.5rem;
}

.box__6 h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: var(--fw-regular);
}

.box__6 p {
  margin-bottom: 1rem;
}
.box__6 img {
  object-fit: contain;
  max-width: 150px;
}

.box__7 {
  color: var(--clr-black);
  background-color: var(--clr-yellow-100);
  padding: 1.5rem;
}
.box__7 h2 {
  place-content: center;
  margin-bottom: 1.5rem;
}
.box__7 span {
  color: var(--clr-purple-500);
  font-style: italic;
}

.box__7 img {
  object-fit: contain;
  width: 150px;
}

.box__8 {
  color: var(--clr-black);
  background-color: var(--clr-yellow-500);
}

.box__8 h2 {
  margin-bottom: 2rem;
}

.box__8 img {
  object-fit: contain;
  width: 80%;
  max-width: 350px;
}

.bento-grid {
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";

  padding-block: 2rem;
  width: min(90%, 70rem);
  margin-inline: auto;
}

.bento-box:nth-child(1) {
  grid-area: one;
}
.bento-box:nth-child(2) {
  grid-area: two;
}
.bento-box:nth-child(3) {
  grid-area: three;
}
.bento-box:nth-child(4) {
  grid-area: four;
}
.bento-box:nth-child(5) {
  grid-area: five;
}
.bento-box:nth-child(6) {
  grid-area: six;
}
.bento-box:nth-child(7) {
  grid-area: seven;
}
.bento-box:nth-child(8) {
  grid-area: eight;
}

@media (min-width: 50em) {
  body {
    background-color: rgb(236, 236, 236);
  }

  .box__1 h1 {
    font-size: 4rem;
  }
  .box__1 span:first-of-type {
    font-size: 4rem;
  }

  .box__2 img {
    object-fit: contain;
    max-width: 100%;
  }

  .box__2 h3 {
    font-size: 2rem;
  }

  .box__3 img {
    object-fit: contain;
    max-width: 60%;
  }

  .box__3 h3 {
    font-size: 2rem;
  }

  .box__4 h3 {
    font-size: 2rem;
  }

  .box__4 p {
    font-size: 1.5rem;
    text-align: start;
    padding: 2rem;
  }

  .box__4 img {
    width: 90%;
    max-width: 100%;
  }

  .box__5 {
    display: flex;
    align-items: center;
  }

  .box__5 h2 {
    font-size: 3rem;
    text-align: start;
  }

  .box__5 img {
    width: 40%;
    max-width: 60%;
  }

  .box__6 img {
    width: 60%;
    max-width: 60%;
  }

  .box__6 p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .box__6 h1 {
    font-size: 4.5rem;
    font-weight: var(--fw-medium);
  }

  .box__7 h2 {
    font-size: 3rem;
  }

  .box__8 h2 {
    font-size: 3rem;
  }

  .box__8 img {
    object-fit: contain;
    width: 100%;
    max-width: 130%;
  }

  .bento-grid {
    display: grid;
    grid-template-areas:
      "eight four"
      "one one"
      "two three"
      "five five"
      "six seven";
  }
}

@media (min-width: 80rem) {
  .bento-grid {
    grid-template-areas:
      "seven one one four"
      "seven one one four"
      "eight two three five"
      "eight six five five";
  }
}
